# Logs
logs
*.log
*-debug.log*
*-error.log*

node_modules
dist
dist-ssr
*.local

# Env
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

